<html><head>
        <title>Hack Fortress Registration</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <a class="navbar-brand" href="#">HackFortress Registration</a>
            </div>
            
            <div class="panel panel-default">
            
            <div class="panel-heading"><h1>Add Team</h1></div>
            <div class="panel-body">
            <div id="team_div">
                <b>Team Name:</b> <input id="team_Red_1000" type="text"><br><br>
                <b>Team Fortress Players</b><br>
                
                <b>Handle:</b> <input id="tf2_handle_0_Red_1000" type="text">
                <b>Phone Number:</b> <input id="tf2_phone_0_Red_1000" type="text">
                <b>Email Address:</b> <input id="tf2_email_0_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="tf2_handle_1_Red_1000" type="text">
                <b>Phone Number:</b> <input id="tf2_phone_1_Red_1000" type="text">
                <b>Email Address:</b> <input id="tf2_email_1_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="tf2_handle_2_Red_1000" type="text">
                <b>Phone Number:</b> <input id="tf2_phone_2_Red_1000" type="text">
                <b>Email Address:</b> <input id="tf2_email_2_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="tf2_handle_3_Red_1000" type="text">
                <b>Phone Number:</b> <input id="tf2_phone_3_Red_1000" type="text">
                <b>Email Address:</b> <input id="tf2_email_3_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="tf2_handle_4_Red_1000" type="text">
                <b>Phone Number:</b> <input id="tf2_phone_4_Red_1000" type="text">
                <b>Email Address:</b> <input id="tf2_email_4_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="tf2_handle_5_Red_1000" type="text">
                <b>Phone Number:</b> <input id="tf2_phone_5_Red_1000" type="text">
                <b>Email Address:</b> <input id="tf2_email_5_Red_1000" type="text">
                <br>
                
                <br>
                <b>Hackers</b><br>
                
                <b>Handle:</b> <input id="hack_handle_0_Red_1000" type="text">
                <b>Phone Number:</b> <input id="hack_phone_0_Red_1000" type="text">
                <b>Email Address:</b> <input id="hack_email_0_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="hack_handle_1_Red_1000" type="text">
                <b>Phone Number:</b> <input id="hack_phone_1_Red_1000" type="text">
                <b>Email Address:</b> <input id="hack_email_1_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="hack_handle_2_Red_1000" type="text">
                <b>Phone Number:</b> <input id="hack_phone_2_Red_1000" type="text">
                <b>Email Address:</b> <input id="hack_email_2_Red_1000" type="text">
                <br>
                
                <b>Handle:</b> <input id="hack_handle_3_Red_1000" type="text">
                <b>Phone Number:</b> <input id="hack_phone_3_Red_1000" type="text">
                <b>Email Address:</b> <input id="hack_email_3_Red_1000" type="text">
                <br>
                
            </div>
            </div>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/schedule.js"></script>

    </body></html>